:root {
  --dark-bg-color: #2f303a;
  --light-bg-color: #e5e5e5;
  --white-bg-color: #f5f4fa;
  --blue-bg-color: #2196f3;
  --white-colortext: #ffffff;
  --grey-colortext: #757575;
  --dark-colortext: #212121;
  --blue-colortext: #2196f3;
  --black-colortext: #000000;
  --body-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--body-colors);
  color: var(--dark-colortext);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
.studiofooter {
  color: var(--white-colortext);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo {
  text-decoration: none;
  color: var(--blue-colortext);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.studio {
  color: var(--dark-colortext);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  overflow: hidden;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover {
  color: var(--blue-bg-color);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu__page-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.mobile-menu__list-item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
}

.mobile-menu__contact-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__contact-item:hover, .mobile-menu__contact-item:focus {
  color: var(--blue-bg-color);
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.vl {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.nav-list {
  display: none;
}

.nav-contact {
  display: none;
}

.open-menu-mobile-btn {
  border: none;
  background: #fff;
  line-height: 0;
  padding: 0;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    border-bottom: 1px solid #ececec;
    padding: 0;
  }
  .headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    margin-right: 88px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list {
    display: flex;
    column-gap: 50px;
  }
  .nav-item {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-colortext);
  }
  .current {
    color: var(--blue-colortext);
  }
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #2196f3;
    border-radius: 2px;
  }
  .nav-contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    row-gap: 10px;
  }
  .contact-link {
    color: var(--grey-colortext);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover, .contact-link:focus {
    color: var(--blue-colortext);
  }
  .contact-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .open-menu-mobile-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    border-bottom: 1px solid #ececec;
  }
  .headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    column-gap: 50px;
    margin-left: 94px;
  }
  .nav-item {
    color: var(--dark-colortext);
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item:hover, .nav-item:focus {
    color: var(--blue-bg-color);
  }
  .current {
    color: var(--blue-colortext);
  }
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #2196f3;
    border-radius: 2px;
  }
  .nav-contact {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    column-gap: 50px;
  }
  .contact-link {
    color: var(--grey-colortext);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover, .contact-link:focus {
    color: var(--blue-colortext);
  }
  .contact-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/overlay.jpg);
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 118px;
  padding-bottom: 118px;
}

.section-service {
  background-color: var(--dark-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-title {
  color: var(--white-colortext);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.button-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-colortext);
  background-color: var(--blue-bg-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
}

.overlay {
  max-width: 767px;
  margin: 0 auto;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/overlay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/overlay.jpg);
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .section-title {
    color: var(--white-colortext);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  .button-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-colortext);
    background-color: var(--blue-bg-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
  }
  .overlay {
    max-width: 1199px;
    margin: 0 auto;
    background-color: var(--dark-bg-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/overlay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-service {
    background-color: var(--dark-bg-color);
  }
  .section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .section-title {
    color: var(--white-colortext);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-right: 252px;
    margin-left: 252px;
  }
  .button-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: var(--white-colortext);
    background-color: var(--blue-bg-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
  }
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--dark-bg-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/overlay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 120px;
  width: 100%;
  background: var(--white-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.adv-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.adv-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-colortext);
}

.title-mean {
  color: var(--grey-colortext);
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 120px;
    width: 100%;
    background: var(--white-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .adv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .adv-item {
    width: 354px;
  }
  .adv-title {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-colortext);
  }
  .title-mean {
    color: var(--grey-colortext);
    font-size: 14px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 120px;
    width: 100%;
    background: var(--white-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .adv-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
  .adv-item {
    width: 270px;
  }
  .adv-title {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.1;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-colortext);
  }
  .title-mean {
    color: var(--grey-colortext);
    font-size: 14px;
    line-height: 1.7;
  }
}
@media screen and (max-width: 767px) {
  .example {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .example {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .example {
    padding-left: 0;
  }
  .example-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .img-example {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .img-example__list {
    position: relative;
  }
  .img-example__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-colortext);
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .team {
    background-color: var(--white-bg-color);
  }
  .card-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .card-list {
    max-width: 450px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    color: var(--dark-colortext);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .office {
    margin-top: 10px;
    color: var(--grey-colortext);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  .list-description {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .social__list-item {
    display: block;
  }
  .social__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--body-color);
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__list-link:hover, .social__list-link:focus {
    background-color: var(--blue-bg-color);
    color: var(--body-color);
  }
}
@media screen and (min-width: 768px) {
  .team {
    background-color: var(--white-bg-color);
  }
  .card-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .card-list {
    max-width: 354px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    color: var(--dark-colortext);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .office {
    margin-top: 10px;
    color: var(--grey-colortext);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  .list-description {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .social__list-item {
    display: block;
  }
  .social__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--body-color);
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__list-link:hover, .social__list-link:focus {
    background-color: var(--blue-bg-color);
    color: var(--body-color);
  }
}
.team {
  background-color: var(--white-bg-color);
}

.card-team {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.card-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--dark-colortext);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.office {
  margin-top: 10px;
  color: var(--grey-colortext);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.list-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__list-item {
  display: block;
}

.social__list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--body-color);
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list-link:hover, .social__list-link:focus {
  background-color: var(--blue-bg-color);
  color: var(--body-color);
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--white-bg-color);
  }
  .card-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .card-list {
    max-width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-title {
    color: var(--dark-colortext);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .office {
    margin-top: 10px;
    color: var(--grey-colortext);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  .list-description {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .social__list-item {
    display: block;
  }
  .social__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--body-color);
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__list-link:hover, .social__list-link:focus {
    background-color: var(--blue-bg-color);
    color: var(--body-color);
  }
}
.team {
  background-color: var(--white-bg-color);
}

.card-team {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.card-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--dark-colortext);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.office {
  margin-top: 10px;
  color: var(--grey-colortext);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.list-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__list-item {
  display: block;
}

.social__list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--body-color);
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list-link:hover, .social__list-link:focus {
  background-color: var(--blue-bg-color);
  color: var(--body-color);
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  .ourclient {
    background-color: var(--body-color);
    margin-top: 0;
  }
  .clients {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-colortext);
    margin-bottom: 30px;
  }
  .client-icon {
    fill: currentColor;
  }
  .client-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .client-item {
    width: calc((100% - 30px) / 2);
  }
  .client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    color: #afb1b8;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-link:hover, .client-link:focus {
    border-color: var(--blue-bg-color);
    color: var(--blue-colortext);
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ourclient {
    background-color: var(--body-color);
    margin-top: 0;
  }
  .clients {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-colortext);
    margin-bottom: 30px;
  }
  .client-icon {
    fill: currentColor;
  }
  .client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .client-item {
    width: 226px;
    height: 92px;
  }
  .client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    color: #afb1b8;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-link:hover, .client-link:focus {
    border-color: var(--blue-bg-color);
    color: var(--blue-colortext);
  }
}
@media screen and (min-width: 1200px) {
  .ourclient {
    background-color: var(--body-color);
    margin-top: 0;
  }
  .clients {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .client-icon {
    fill: currentColor;
  }
  .client-list {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
  }
  .client-item {
    width: 170px;
    height: 92px;
  }
  .client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    color: #afb1b8;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-link:hover, .client-link:focus {
    border-color: var(--blue-bg-color);
    color: var(--blue-colortext);
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.button {
  background-color: var(--white-bg-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--blue-bg-color);
  color: var(--white-colortext);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-description {
  margin-top: none;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.name-project {
  color: var(--dark-colortext);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.chapter {
  color: var(--grey-colortext);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.menu-project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-project-link:hover, .menu-project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-colortext);
  line-height: 1.5;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.menu-project-link:hover .overlay-portfolio, .menu-project-link:focus .overlay-portfolio {
  transform: translateY(0%);
}

@media screen and (min-width: 280px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer {
    background-color: var(--dark-bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  address {
    margin-top: 20px;
    font-style: normal;
  }
  .adress-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
  .adres-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-contact {
    color: var(--white-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-contact:hover, .address-contact:focus {
    color: var(--blue-colortext);
  }
  .list-footer {
    margin-bottom: 9px;
  }
  .footer-contact {
    color: var(--grey-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer-contact:hover, .footer-contact:focus {
    color: var(--blue-colortext);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .connect {
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
  }
  .footer-list {
    display: flex;
    column-gap: 10px;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover, .footer-link:focus {
    background-color: var(--blue-bg-color);
  }
  .footer-item {
    width: 44px;
    height: 44px;
  }
  .subscribe-form {
    width: 100%;
  }
  .footer-icon {
    width: 20px;
    height: 20px;
    fill: var(--white-colortext);
  }
  .footer-form {
    display: block;
    width: 100%;
  }
  .footer-email {
    column-gap: 12px;
  }
  .footer-subs {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
    margin-bottom: 20px;
    text-align: center;
  }
  .input-footer_email {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--dark-bg-color);
    color: var(--white-colortext);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .subs {
    display: flex;
    flex-direction: row;
  }
  .btn-subs {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: var(--blue-bg-color);
    color: var(--white-colortext);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-style: Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    margin: auto;
  }
  .icon-cointainer {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-icon {
    position: absolute;
    top: 13px;
    right: 28px;
    transform: translate(-50% -50%);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
  .footer {
    background-color: var(--dark-bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  address {
    margin-top: 20px;
    font-style: normal;
  }
  .adress-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
  .adres-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .address-contact {
    color: var(--white-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-contact:hover, .address-contact:focus {
    color: var(--blue-colortext);
  }
  .list-footer {
    margin-bottom: 9px;
  }
  .footer-contact {
    color: var(--grey-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer-contact:hover, .footer-contact:focus {
    color: var(--blue-colortext);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .connect {
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
  }
  .footer-list {
    display: flex;
    column-gap: 10px;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover, .footer-link:focus {
    background-color: var(--blue-bg-color);
  }
  .footer-icon {
    width: 20px;
    height: 20px;
    fill: var(--white-colortext);
  }
  .footer-form {
    display: block;
    width: 100%;
  }
  .footer-email {
    column-gap: 12px;
  }
  .footer-subs {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
    margin-bottom: 20px;
  }
  .input-footer_email {
    display: block;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--dark-bg-color);
    color: var(--white-colortext);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .subs {
    display: flex;
    flex-direction: row;
  }
  .btn-subs {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--blue-bg-color);
    color: var(--white-colortext);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-style: Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    padding: 10px 28px;
  }
  .icon-cointainer {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-icon {
    position: absolute;
    top: 13px;
    right: 28px;
    transform: translate(-50% -50%);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
  .footer {
    background-color: var(--dark-bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    row-gap: unset;
  }
  .studiofooter {
    color: var(--white-colortext);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  address {
    margin-top: 20px;
    font-style: normal;
  }
  .adress-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
  }
  .address-contact {
    color: var(--white-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-contact:hover,
.address-contact:focus {
    color: var(--blue-colortext);
  }
  .list-footer {
    margin-bottom: 9px;
  }
  .footer-contact {
    color: var(--grey-colortext);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer-contact:hover,
.footer-contact:focus {
    color: var(--blue-colortext);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .connect {
    text-align: left;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
  }
  .adres-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-form {
    display: flex;
  }
  .footer-list {
    display: flex;
    column-gap: 10px;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover,
.footer-link:focus {
    background-color: var(--blue-bg-color);
  }
  .footer-icon {
    width: 20px;
    height: 20px;
    fill: var(--white-colortext);
  }
  .footer-email {
    display: flex;
    column-gap: 12px;
  }
  .footer-form {
    display: flex;
  }
  .footer-subs {
    display: block;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-colortext);
    margin-bottom: 20px;
  }
  .input-footer_email {
    margin-bottom: 0;
    margin-right: 12px;
    display: block;
    width: 358px;
    height: 50px;
    background-color: var(--dark-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
  }
  .subs {
    display: flex;
    flex-direction: row;
  }
  .btn-subs {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--blue-bg-color);
    color: var(--white-colortext);
    border-radius: 4px;
    border: none;
    font-style: Bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icon-cointainer {
    position: relative;
    display: flex;
    column-gap: 10px;
  }
  .foot-icon {
    position: absolute;
    top: 13px;
    right: 28px;
    transform: translate(-50% -50%);
  }
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    padding: 94px 15px;
    padding-top: 93px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .icon-vector {
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover > .icon-vector {
    fill: var(--blue-colortext);
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-colortext);
    margin-bottom: 12px;
  }
  .form-field {
    display: block;
    margin-bottom: 10px;
  }
  .form-textarea {
    margin-bottom: 20px;
  }
  .form-input {
    display: block;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    outline: none;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:focus {
    border-color: var(--blue-bg-color);
  }
  .form-input:focus + .form-icon {
    fill: var(--blue-colortext);
  }
  .form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--grey-colortext);
  }
  .form-div {
    position: relative;
  }
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  .textarea:focus {
    border-color: var(--blue-bg-color);
  }
  .modal-btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 10px 52px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15);
    background-color: #188ce8;
    color: var(--white-colortext);
    font-style: Bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    transition: background-color var(--blue-bg-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field {
    display: inline block;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    margin-bottom: 30px;
    color: var(--grey-colortext);
  }
  .policy-link {
    font-size: 14px;
    line-height: 1.46;
    color: var(--blue-colortext);
    text-decoration: underline;
  }
  .modal-form-checkbox {
    position: absolute;
  }
  .modal-form-check {
    width: 15px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid var(--dark-colortext);
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-check-icon {
    display: none;
  }
  .modal-form-checkbox:checked + .modal-form-check {
    background-color: var(--blue-bg-color);
    border: none;
  }
  .modal-form-checkbox:checked + .modal-form-check .modal-form-check-icon {
    display: block;
  }
  .modal-form-checkbox:focus + .modal-form-check {
    fill: var(--blue-colortext);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    padding: 94px 15px;
    padding-top: 93px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .icon-vector {
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover > .icon-vector {
    fill: var(--blue-colortext);
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-colortext);
    margin-bottom: 12px;
  }
  .form-field {
    display: block;
    margin-bottom: 10px;
  }
  .form-textarea {
    margin-bottom: 20px;
  }
  .form-input {
    display: block;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    outline: none;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:focus {
    border-color: var(--blue-bg-color);
  }
  .form-input:focus + .form-icon {
    fill: var(--blue-colortext);
  }
  .form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--grey-colortext);
  }
  .form-div {
    position: relative;
  }
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  .textarea:focus {
    border-color: var(--blue-bg-color);
  }
  .modal-btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 10px 52px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15);
    background-color: #188ce8;
    color: var(--white-colortext);
    font-style: Bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    transition: background-color var(--blue-bg-color) 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field {
    display: inline block;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    margin-bottom: 30px;
    color: var(--grey-colortext);
  }
  .policy-link {
    font-size: 14px;
    line-height: 1.46;
    color: var(--blue-colortext);
    text-decoration: underline;
  }
  .modal-form-checkbox {
    position: absolute;
  }
  .modal-form-check {
    width: 15px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid var(--dark-colortext);
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-check-icon {
    display: none;
  }
  .modal-form-checkbox:checked + .modal-form-check {
    background-color: var(--blue-bg-color);
    border: none;
  }
  .modal-form-checkbox:checked + .modal-form-check .modal-form-check-icon {
    display: block;
  }
  .modal-form-checkbox:focus + .modal-form-check {
    fill: var(--blue-colortext);
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    min-height: 581px;
    min-width: 528px;
    padding: 40px;
    background-color: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--body-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .icon-vector {
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover > .icon-vector {
    fill: var(--blue-colortext);
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-colortext);
    margin-bottom: 12px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
  }
  .form-textarea {
    margin-bottom: 20px;
  }
  .form-input {
    display: block;
    border: 1px Solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    width: 100%;
    height: 40px;
    outline: none;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:focus {
    border-color: var(--blue-bg-color);
  }
  .form-input:focus + .form-icon {
    fill: var(--blue-colortext);
  }
  .form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--grey-colortext);
  }
  .form-div {
    position: relative;
  }
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  .textarea:focus {
    border-color: var(--blue-bg-color);
  }
  .modal-btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 10px 52px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15);
    background-color: #188ce8;
    color: var(--white-colortext);
    font-style: Bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
  .modal-form-field {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.46;
    color: var(--grey-colortext);
  }
  .policy-link {
    font-size: 14px;
    line-height: 1.46;
    color: var(--blue-colortext);
    text-decoration: underline;
  }
  .modal-form-checkbox {
    position: absolute;
  }
  .modal-form-check {
    width: 15px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid var(--dark-colortext);
    cursor: pointer;
    margin-right: 10px;
  }
  .modal-form-check-icon {
    display: none;
  }
  .modal-form-checkbox:checked + .modal-form-check {
    background-color: var(--blue-bg-color);
    border: none;
  }
  .modal-form-checkbox:checked + .modal-form-check .modal-form-check-icon {
    display: block;
  }
  .modal-form-checkbox:focus + .modal-form-check {
    fill: var(--blue-colortext);
  }
}/*# sourceMappingURL=main.css.map */