@media screen  and (max-width: 767px){

  .section {
    text-align: center;
}
.ourclient {
  background-color: var(--body-color);
  margin-top: 0;
}
.clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-colortext);
  margin-bottom: 30px;
}
.client-icon {
  fill: currentColor;
}
.client-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
gap: 30px;
}
.client-item{
  width: calc((100% - 30px)/2);
height: 92px;}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--blue-bg-color);
        color: var(--blue-colortext);
    }
}
}

@media screen  and (min-width: 768px)
{
  .ourclient {
  background-color: var(--body-color);
  margin-top: 0;
}
.clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-colortext);
  margin-bottom: 30px;
}
.client-icon {
  fill: currentColor;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.client-item
{width: 226px ;
height: 92px;}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--blue-bg-color);
        color: var(--blue-colortext);
    }
}
}



@media screen  and (min-width:1200px)
{.ourclient {
  background-color: var(--body-color);
  margin-top: 0;
}
.clients {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}
.client-icon {
  fill: currentColor;
}
.client-list {
  display: flex;
  margin-top: 50px;
  column-gap: 30px;
}
.client-item{
  width: 170px;
  height: 92px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--blue-bg-color);
        color: var(--blue-colortext);
    }
}
}
