.menu-button {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.button {
    background-color: var(--white-bg-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
            &:focus {
                background-color: var(--blue-bg-color);
                color: var(--white-colortext);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}



.menu-project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-description {
    margin-top: none;
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 20px 24px;
}

.name-project {
    color: var(--dark-colortext);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.chapter {
    color: var(--grey-colortext);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 4px;
}

.menu-project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}


.box-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: var(--white-colortext);
    line-height: 1.5;
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;
    .menu-project-link:hover &,
        .menu-project-link:focus & {
            transform: translateY(0%);
        }
}

