@media screen and (min-device-pixel-ratio: 2) 
and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px), 
 screen and (min-resolution: 2dppx) and (max-width: 767px)
 {.section-service{
     background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../img/overlay.jpg);}}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.section-service{
    background-color: var(--dark-bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-title {
    color: var(--white-colortext);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;}

.button-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-colortext);
    background-color: var(--blue-bg-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 24px;
}
.overlay {
        margin: 0 auto;
        background-color: var(--dark-bg-color);
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../img/overlay.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        padding: 118px 0;
       
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2)
     and (min-width: 768px), 
     screen and (min-width: 768px)
      and (min-resolution: 192dpi) and (min-width: 768px), 
      screen and (min-width: 768px) and (min-resolution: 2dppx) 
      and (min-width: 768px)
     {.section-service{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
       url(../img/overlay.jpg);}
       
       .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .section-service{
        background-color: var(--dark-bg-color);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        

    .section-title {
        color: var(--white-colortext);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;}
    
    .button-service {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        color: var(--white-colortext);
        background-color: var(--blue-bg-color);
        font-family: inherit;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 24px;
    }
    .overlay {
            max-width: 1200px;
            margin: 0 auto;
            background-color: var(--dark-bg-color);
            background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            url(../img/overlay.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 400px;
           
        }
    
    }
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) 
    and (min-width: 768px), 
    screen and (min-width: 1200px) 
    and (min-resolution: 192dpi) and (min-width: 768px), 
    screen and (min-width: 1200px) and (min-resolution: 2dppx) 
    and (min-width: 768px)
    {.section-service {
        background-color: var(--dark-bg-color);
        padding-top: 200px;
        padding-bottom: 200px;
       
    }
    
    .section-title {
        color: var(--white-colortext);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
        margin-right: 252px;
        margin-left: 252px;
    }
    
    .button-service {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        color: var(--white-colortext);
        background-color: var(--blue-bg-color);
        font-family: inherit;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 10px 32px;
    }
    
    .overlay {
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        background-color: var(--dark-bg-color);
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url(../img/overlay.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
    }
        }}
